@charset "UTF-8";

body {
    background-color: #f9f3ec;
}

a {
	text-decoration: none;
	color: #aaa;
	font-weight: bold;
}

li {
    list-style: none;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 15px;
  box-sizing: border-box;
  border: none;
}

input[type=text]:focus {
  border: 2px solid #ffb497;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  resize: none;
  font-size: 1rem;
}

textarea:focus {
  border: 2px solid #ffb497;
}

select {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  border: none;
}

select:focus {
  border: 2px solid #ffb497;
}

option {
}

.btn-primary {
  border: none;
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  background-color: #ffb497;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.btn-default {
  border: none;
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  background-color: #ddd;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.btn-bordered {
  border: 3px solid #ffb497;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  background-color: white;
  color: #ffb497;
  font-size: 2em;
  cursor: pointer;
}






.container {
	width: 70%;
	min-width: min-content;
	min-height: 800px;
    margin-left: auto;
	margin-right: auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.title {
  width: auto;
  height: 30px;
  padding: 20px;
  background-color: #756e6c;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}


.menu {
    width: 20%;
    display: inline-block;
}

.button_group {
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}