@charset "UTF-8";

* {
	margin: 0px;
}

body {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

#header {
	position: relative;
	min-width: 1200px;
	height: 520px;
	background: url(../../img/header_main.jpg) no-repeat center center;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
}

.member {
	min-width: 100%;
	height: 80px;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	text-align: right;
	z-index: 999;
}

.member > ul {
	list-style: none;
	padding-top: 30px;
	padding-right: 100px;
}

.member > ul > li {
	display: inline;
	color: white;
}

.member > ul > li > a {
	text-decoration: none;
}


.member > ul > li > a > span {
	color: white;
	font-size: 15px;
}

.member > ul > li > a > span:hover {
	background-color: #ffb497;
}

#header > ul {
	padding-top: 80px;
	bottom: 120px;
	text-align: center;
}

#header > ul > li {
	display: inline-block;
	list-style: none;
	padding: 15px;
}

#header > ul > li > a {
	text-decoration: none !important;
}

#header> ul > li> a > span {
	margind: 0px;
	display: block;
	width: 150px;
	height: 40px;
	vertical-align: middle;
	color: white;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
}

#header > ul > li:hover {
	border: 1px solid white;
}



#nav {
	min-width: 1200px;
	height: 230px;
	background-color: #f9f3ec;
	text-align: center;
}
.nav_ul {	
	padding-top: 50px;
}

.nav_ul > li {
	display: inline-block;
	text-align: center;
	list-style: none;
}
.nav_ul > li > a {
	text-decoration: none !important;
}


.nav_ul > li > a > span {
	color: #000;
	font-weight: bold;
}

.nav_ul > li:hover {
	border-radius: 10px;
	background-color: #ffb497;
}


.nav_ul > a > span {
	display: inline-block;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 10px;
}





#about {
	min-width: 1200px;
	height: 900px;
	background: url(../../img/about.jpg) no-repeat 0 150px;
	text-align: center;
}

.about_title {
	min-width: 1200px;
	height: 120px;
	background-color: #F3EED7;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0px;
}

.detail1, .detail2, .detail3 {
	margin-top: 50px;
	color: white;
}












.store_title {
	min-width: 1200px;
	height: 80px;
	background-color: #F3EED7;
	text-align: center;
	padding-top: 10px;
	margin: 0px;
}
.menu {
	list-style: none;
}
.sub {
	text-align: center;
	width: 400px;
	height: 400px;
	list-style: none;
	position: absolute;
	top: 1740px;
	left: -40px;
	z-index: 100;
}
.sub > li {
	width: 100%;
	padding: 20px;
	background-color: #fff;
}

.store_title:hover {
	background-color: #ffb497;
	cursor:pointer;
}




.map_btn {

}

.map_btn > span {
	display: block;
	position: absolute;
	z-index: 200;
	border: 4px solid #555;
	border-radius: 20px;
	font-weight: bold;
	font-size: 30px;
	color: #555;
	cursor: pointer;
	padding: 0px;
	width: 50px;
	height: 50px;
	text-align: center;
	top: 2070px;
}
.map_btn1 {
	left: 140px;
}
.map_btn2 {
	left: 200px;
}








#footer {
	color: #bbb;
	font-weight: bold;
	min-width: 1200px;
	margin: 0px;
	height:180px;   
	background: #756e6c;
	text-align: center;
}

.foot_menu > li {
	padding: 100px;
}


.foot_menu > li > a {
	text-decoration: none;
	color: #bbb;
	font-size: 30px;
}

.foot_menu > li > a:hover {
	color: #000;
	cursor:pointer;
}

.foot_menu {
	list-style: none;
}

.foot_menu > li {
	display: inline-block;
}


