@charset "UTF-8";


* {
	margin: 0px;
}

body {
	margin: 0;
	padding: 0;
}

.member {
	min-width: 100%;
	height: 80px;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	text-align: right;
	z-index: 999;
}

.member > ul {
	list-style: none;
	padding-top: 30px;
	padding-right: 100px;
}

.member > ul > li {
	display: inline;
	color: white;
}

.member > ul > li > a {
	text-decoration: none;
}


.member > ul > li > a > span {
	color: white;
	font-size: 15px;
}


.member > ul > li > a > span:hover {
	background-color: #ffb497;
}


#header {
	min-width: 1200px;
	height: 200px;
	background: url(../../img/header_main.jpg) no-repeat center center;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;;
}




#nav {
	min-width: 1200px;
	padding-top: 90px;
	height: 230px;
	background-color: #f9f3ec;
	text-align: center;
}
.nav_ul {	
	padding-top: 50px;
}

.nav_ul > li {
	display: inline-block;
	text-align: center;
	list-style: none;
}
.nav_ul > li > a {
	text-decoration: none !important;
}


.nav_ul > li > a > span {
	color: #000;
	font-weight: bold;
}

.nav_ul > li:hover {
	border-radius: 10px;
	background-color: #ffb497;
}


.nav_ul > a > span {
	display: inline-block;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.nav_ul > a > span:hover {
	border-radius: 10px;
	background-color: #ffb497;	
}














#footer {
	color: #bbb;
	font-weight: bold;
	min-width: 1200px;
	margin: 0px;
	height:180px;   
	background: #756e6c;
	text-align: center;
}

.foot_menu > li {
	padding: 100px;
}


.foot_menu > li > a {
	text-decoration: none;
	color: #bbb;
	font-size: 30px;
}

.foot_menu > li > a:hover {
	color: #000;
}

.foot_menu {
	list-style: none;
}

.foot_menu > li {
	display: inline-block;
}


