@charset "utf-8";

@font-face {
	font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
	src: url('font/NanumBarunGothic.eot');
	src: local('Nanum Barun Gothic'),
         local('NanumBarunGothic'),
         url('font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumBarunGothic.woff2') format('woff2'),
         url('font/NanumBarunGothic.woff') format('woff'),
         url('font/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
	src: url('font/NanumBarunGothicBold.eot');
	src: local('Nanum Barun Gothic Bold'),
         local('NanumBarunGothicBold'),
         url('font/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumBarunGothicBold.woff2') format('woff2'),
         url('font/NanumBarunGothicBold.woff') format('woff'),
         url('font/NanumBarunGothicBold.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
	src: url('font/NanumSquareR.eot');
	src: local('Nanum Square R'),
         local('NanumSquareR'),
         url('font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
         url('font/NanumSquareR.woff') format('woff'),
         url('font/NanumSquareR.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
	src: url('font/NanumSquareB.eot');
	src: local('Nanum Square B'),
         local('NanumSquareB'),
         url('font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
         url('font/NanumSquareB.woff') format('woff'),
         url('font/NanumSquareB.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 900;
	src: url('font/NanumSquareEB.eot');
	src: local('Nanum Square EB'),
         local('NanumSquareEB'),
         url('font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
         url('font/NanumSquareEB.woff') format('woff'),
         url('font/NanumSquareEB.ttf') format('truetype');
}