@charset "utf-8";

/* Reset */
html {
    min-height: 100%;
}
body {
    -webkit-text-size-adjust: none;
}
body, div, p, table, th, td, ul, ol, li, dl, dt, dd, form, input, select, textarea, button, h1, h2, h3, h4, h5, img {
    margin: 0;
    padding: 0;
}
body, p, th, td, input, button, select, textarea {
    font-family: 'NanumBarunGothic', 'Malgun Gothic', Dotum, Arial, sans-serif;
    /*line-height: 1;*/
}
input, select, textarea {
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}
textarea {
    border-radius:0;
    box-shadow: none;
}
input {
    border-radius: 0;
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
input::-webkit-search-cancel-button {
    -moz-appearance: none;
    -webkit-appearance: none;
}
input::-webkit-clear-button, input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
button {
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}
textarea {
    resize: none;
}
label {
    vertical-align: middle;
    cursor: pointer;
}
a {
    text-decoration: none;
    outline: none;
}
em, address {
    font-style: normal;
}
ol, ul {
    list-style: none;
}
img {
    border: 0;
	/*max-width:100%;*/
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
}
caption {
    visibility: hidden; 
    text-indent: -10000em; 
    font-size: 0; 
    line-height: 0;
}

/* Common */
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

/* login contents */
.login-guide-text {
    font-family: 'NanumSquare', Dotum, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #959595;
    letter-spacing: -0.025em;
    line-height: 32px;
    text-align: center;
    padding: 42px 0;
}
.login-box {
    background-color: #f9f9f9;
    padding: 50px 60px;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}
.login-box.store {
    padding: 50px 60px 30px;
}
.login-form-box {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-right: 60px;
    vertical-align: top;
}
.login-form-box.store {
    width: 100%;
    padding-right: 299px;
    padding-left: 176px;
    position: relative;
}
.btn.btn-store-login {
    width: 114px;
    height: 102px !important;
    line-height: 102px !important;
    position: absolute;
    top: 41px;
    right: 176px;
}
.login-member-box {
    display: inline-block;
    width: 50%;
    padding-left: 62px;
    box-sizing: border-box;
    background-image: url(../images/bg_dot_line.png);
    background-repeat: repeat-y;
    background-position: left top;
    vertical-align: top;
}
.login-id-guide-text {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}

.member-title-box {
    padding-left: 49px;
    background-repeat: no-repeat;
    background-position: left top;
    height: 41px;
}
.member-title-box.join {
    background-image: url(../images/ico_login_join.png);
}
.member-title-box.find-idpw {
    background-image: url(../images/ico_login_find_idpw.png);
}
.member-title-text {
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #333;	
}
.member-subtitle-text {
    display: block;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #959595;
    margin-top: 8px;
    line-height: 18px;
}
.member-subtitle-text .only-mobile-block+.only-mobile-block {
    margin-left: 0;
    margin-top: 0;
}
.member-btn-box {
    text-align: center;
    margin-top: 20px;
}
.member-find-idpw-box {
    margin-top: 59px;
}


/* sub page contents */
.sub-contents-container {
    background-color: #fcfcfc;
}
.global-section.sub-contents {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #fff;
}
.global-section.sub-contents.sub-lnb {
    padding-left: 208px;
    position: relative;
}
.sub-navigation-box {
    width: 100%;
    height: 196px;
    position: relative;
    background-repeat: no-repeat;
    padding: 0 1px;
    margin-left: -1px;
}
.global-section.sub-contents.sub-lnb .sub-navigation-box {
    height: 186px;
    padding: 0 1px 0 0;
    margin-left: 0;
    margin-right: -1px;
    background-size: 1199px 186px;
    background-position: center top;
}
.sub-navigation-box.nav01 {
    background-image: url(../images/img_nav01.png);
}
.sub-navigation-box.nav02 {
    background-image: url(../images/img_nav02.png);
}
.sub-navigation-box.nav03 {
    background-image: url(../images/img_nav03.png);
}
.sub-navigation-box.nav04 {
    background-image: url(../images/img_nav04.png);
}
.sub-navigation-box.nav05 {
    background-image: url(../images/img_nav05.png);
}
.sub-navigation-box.nav06 {
    background-image: url(../images/img_nav06.png);
}
.sub-navigation-box.nav07 {
    background-image: url(../images/img_nav07.png);
}
.sub-navigation-box.nav08 {
    background-image: url(../images/img_nav08.png);
}
.sub-navigation-box.nav09 {
    background-image: url(../images/img_nav09.png);
}
.sub-navigation-box.nav10 {
    background-image: url(../images/img_nav10.png);
}
.sub-navigation-box.nav11 {
    background-image: url(../images/img_nav11.png);
}
.sub-navigation-box.nav12 {
    background-image: url(../images/img_nav12.png);
}
.sub-navigation-box.nav13 {
    background-image: url(../images/img_nav13.png);
}
.sub-nav-title {
    font-family: 'NanumSquare', Dotum, sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    text-align: center;
    letter-spacing: -0.025em;
    padding-top: 57px;
}
.global-section.sub-contents.sub-lnb .sub-nav-title {
    padding-top: 52px;
}
.sub-nav-loc {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    text-align: center;
    margin-top: 16px;
}
.sub-nav-item {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding-right: 14px;
    position: relative;
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    letter-spacing: -0.025em;
}
.sub-nav-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 7px;
    background-image: url(../images/ico_nav_arrow.png);
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -3.5px;
    right: 0;
}
.sub-nav-item:last-child:after {
    display: none;
}
.sub-nav-item.home {
    background-image: url(../images/ico_nav_home.png);
    background-repeat: no-repeat;
    padding-left: 21px;
}
.sub-nav-item:last-child {
    padding-right: 0;
}
.btn-sub-nav {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border: 2px solid #fff;
    top: 50%;
    margin-top: -19px;
    overflow: hidden;
    text-indent: -10000em;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-sub-nav.prev {
    left: 111px;
    background-image: url(../images/ico_sub_nav_prev.png);
}
.btn-sub-nav.next {
    right: 111px;
    background-image: url(../images/ico_sub_nav_next.png);
}
.sub-contents-box {
    padding: 0 126px 130px;
}
.global-section.sub-contents.sub-lnb .sub-contents-box {
    padding: 57px 40px 130px;
}

.sub-lnb-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    width: 208px;
    border-right: 1px solid #e4e4e4;
}
.sub-lnb-header {
    height: 90px;
    background-color: #821122;
    padding: 0 1px;
    margin-left: -1px;
    width: 100%;
    position: relative;
    padding-top: 96px;
    background-repeat: no-repeat;
}
.sub-lnb-header.lnb01 {
    background-image: url(../images/ico_lnb01.png);
    background-position: center 49px;
}
.sub-lnb-header.lnb02 {
    background-image: url(../images/ico_lnb02.png);
    background-position: center 45px;
}
.sub-lnb-header.lnb03 {
    background-image: url(../images/ico_lnb03.png);
    background-position: center 49px;
}
.sub-lnb-header.lnb04 {
    background-image: url(../images/ico_lnb04.png);
    background-position: center 41px;
}
.sub-lnb-header.lnb05 {
    background-image: url(../images/ico_lnb05.png);
    background-position: center 46px;
}
.sub-lnb-header.lnb06 {
    background-image: url(../images/ico_lnb06.png);
    background-position: center 41px;
}
.sub-lnb-header.lnb07 {
    background-image: url(../images/ico_lnb07.png);
    background-position: center 40px;
}
.sub-lnb-header.lnb09 {
    background-image: url(../images/ico_lnb09.png);
    background-position: center 43px;
}
.sub-lnb-header.lnb11 {
    background-image: url(../images/ico_lnb11.png);
    background-position: center 41px;
}
.sub-lnb-header.lnb12 {
    background-image: url(../images/ico_lnb12.png);
    background-position: center 37px;
}
.sub-lnb-header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 60px solid none;
    border-bottom: 60px solid transparent;
    border-right: 55px solid transparent;
    border-left: 55px solid #710d1c; 
}
.sub-lnb-header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 37px solid transparent;
    border-bottom: 37px solid none;
    border-right: 37px solid #710d1c;
    border-left: 37px solid transparent; 
}
.lnb-title-text {
    display: block;
    position: relative;
    z-index: 10;
    font-family: 'NanumSquare', Dotum, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    letter-spacing: -0.025em;
    text-align: center;
}
.lnb-subtitle-text {
    display: block;
    position: relative;
    z-index: 10;
    font-family: 'NanumSquare', Dotum, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #cea0a7;
    letter-spacing: -0.025em;
    text-align: center;
}
.sub-lnb-list {
    border-top: 1px solid #e4e4e4;
}
.sub-lnb-list li {
    border-bottom: 1px solid #e4e4e4;
}
.sub-lnb-item {
    display: block;
    font-family: 'NanumSquare', Dotum, sans-serif;
    font-weight: 400;
    height: 57px;
    line-height: 57px;
    padding-left: 30px;
    color: #959595;
    font-size: 17px;
    letter-spacing: -0.025em;
}
.sub-lnb-item:hover {
    color: #821122;  
    background-image: url(../images/ico_sub_lnb_on.png);
    background-repeat: no-repeat;
    background-position: right 30px center;
}
.sub-lnb-item.on {
    color: #821122;  
    background-image: url(../images/ico_sub_lnb_on.png);
    background-repeat: no-repeat;
    background-position: right 30px center;
}
.sub-lnb-item.on span {
    text-decoration: underline;
}

.sub-lnb-selectbox {
    display: none;
}
